<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Autori</title>
</head>
<body>
	<div align="center">
		<h1 th:text="${book}"></h1>
		<form th:action="@{'/nuovo_autore/' + ${id}}" method="post">
			<input type="submit" value="Aggiungi Autore" />
		</form>
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID Autore</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Azioni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="autore : ${listAutori}">
					<td th:text="${autore.id_autore}">ID Autore</td>
					<td th:text="${autore.nome}">Nome</td>
					<td th:text="${autore.cognome}">Cognome</td>
					<td>
						<a th:href="@{'/elimina_autore/' + ${autore.id_autore}}">  Cancella</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<form th:action="@{'/index/'}" method="post">
			<input type="submit" value="Torna Indietro" />
		</form>
	</div>
</body>
</html>