<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Libri</title>
<!-- Jquery -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/search.js}"></script>
<!--CSS Personale-->
<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
</head>
<body>
	<div align="center">
		<h1>Lista libri</h1>
		<form th:action="@{'/prenotazioni/'}" method="post">
			<input type="submit" value="Prenotazioni" />
		</form>
		<br />
		<input id="myInput" type="text" placeholder="Cerca...">
		<br />
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID Libro</th>
					<th>Titolo</th>
					<th>Anno</th>
					<th>Autore</th>
					<th>Sequel</th>
					<th>Azioni</th>
				</tr>
			</thead>
			<tbody id="myTable">
				<tr th:each="book : ${listBooks}">
					<td th:text="${book.id}">ID Libro</td>
					<td th:text="${book.titolo}">Titolo</td>
					<td th:text="${book.anno}">Anno</td>
					<!-- Lista Autori -->
					<td th:if="${book.listAutore.size() > 0}">
						<p th:each="autore : ${book.listAutore}">
							<span th:text="${autore.nome} + ' ' + ${autore.cognome}">Autore</span>
						</p>
					</td>
					<td th:if="${book.listAutore.size() == 0}"></td>
					<!-- Lista Sequel -->			
					<td th:if="${book.libriSuccessivi.size() > 0}">
						<p th:each="sequel : ${book.libriSuccessivi}">
							<span th:text="${sequel.titolo}">Sequel</span>
						</p>
					</td>
					<td th:if="${book.libriSuccessivi.size() == 0}"></td>		
					<!-- Azioni -->
					<td><a th:href="@{'/copie/' + ${book.id}}">Visualizza copie</a></td>
				</tr>
			</tbody>
		</table>
		<br />
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log Out" />
		</form>
	</div>
</body>
</html>