<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Libri</title>
</head>
<body>
	<div align="center">
		<h1>Lista libri</h1>
		<form th:action="@{'/nuovo_libro/'}" method="post">
		<input type="submit" value="Aggiungi Libro" />
		</form>	
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID Libro</th>
					<th>Titolo</th>
					<th>Anno</th>
					<th>Autore</th>
					<th>Azioni</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${listBooks}">
					<td th:text="${book.id}">ID Libro</td>
					<td th:text="${book.titolo}">Titolo</td>
					<td th:text="${book.anno}">Anno</td>
					<td th:if="${book.listAutore.size() > 0}">
						<p th:each="autore : ${book.listAutore}">
							<span th:text="${autore.nome} + ' ' + ${autore.cognome}">Autore</span>
						</p>
					</td>
					<td th:if="${book.listAutore.size() == 0}"></td>
					<td>
						<a th:href="@{'/edit/' + ${book.id}}">Modifica</a>
						<a th:href="@{'/delete/' + ${book.id}}">  Cancella</a>
						<a th:href="@{'/copieAdm/' + ${book.id}}"> Copie</a>
						<a th:href="@{'/autoriAdm/' + ${book.id}}"> Autori</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log Out" />
		</form>	

	</div>
</body>
</html>