<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- Jquery -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/eccezioni.js}"></script>
<!--CSS Personale-->
<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
<title>Modifica Libro</title>
</head>
<body>
    <div align="center">
        <h1>Modifica Libro</h1>
        <br />
        <form action="#" th:action="@{/salva_modifica}" th:object="${libro}"
            method="post">
 
            <table border="0" cellpadding="10">
     			<tr>             
                    <td>ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr>  
                <tr>             
                    <td>Titolo:</td>
                    <td>
                        <input type="text" th:field="*{titolo}" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Anno:</td>
                    <td><input id="anno" type="text" th:field="*{anno}" maxlength="4" required="required" /></td>
                </tr>                     
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>