<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Crea Nuovo Libro</title>
</head>
<body>
    <div align="center">
        <h1>Crea Nuovo Libro</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${book}"
            method="post">
 
            <table border="0" cellpadding="10">
                 <tr>
                    <td>Titolo libro:</td>
                    <td><input type="text" th:field="*{titolo}" /></td>
                </tr>   
                 <tr>
                    <td>Anno:</td>
                    <td><input type="text" th:field="*{anno}" /></td>
                </tr>                   
                <tr>
                    <td colspan="2"><button type="submit">Aggiungi</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>