<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Copie</title>
</head>
<body>
	<div align="center">
		<h1>
			<span th:text="${username}" th:remove="tag">title</span>
			<span> hai prenotato un libro!</span>
		</h1>
		<!-- 
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ISBN</th>
					<th>Nome Libro</th>
					<th>Data prestito</th>
					<th>Data consegna</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="copia : ${listCopie}">
					<td th:text="${copia.isbn}">ISBN</td>
					<td th:text="${copia.id}">ID</td>
					<td th:text="${copia.disponibilita}">Disponbilità</td>

					<td><a th:href="@{'/prenota/' + ${copia.isbn}}">Prenota</a></td>

				</tr>
			</tbody>
		</table>
		 -->
		<br />
		<form th:action="@{'/index/'}" method="post">
			<input type="submit" value="Torna Indietro" />
		</form>
	</div>
</body>
</html>