<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Prenotazioni in corso</title>
</head>
<body>
	<div align="center">
		<h1>Le tue prenotazioni</h1>
		<h3 th:text="@{'Il numero della tua tessera: ' + ${listaPrenotazioni[0].n_tessera}}"></h3>
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ISBN</th>
					<th>Titolo</th>
					<th>Data inizio</th>
					<th>Data consegna</th>
					<th>Azioni</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="prenotazione : ${listaPrenotazioni}">
					<td th:text="${prenotazione.copia.isbn}">ISBN</td>
					<td th:text="${prenotazione.copia.libro.titolo}">titolo</td>
					<td th:text="${prenotazione.data_inizio}">Data Inizio</td>
					<td th:text="${prenotazione. data_consegna}">Data Consegna</td>
					<td><a th:href="@{'/restituisci/' + ${prenotazione.copia.isbn}}">Restituisci Libro</a></td>
				</tr>
			</tbody>
		</table>
		<br />
		<form th:action="@{'/index/'}" method="post">
			<input type="submit" value="Torna Indietro" />
		</form>
	</div>
</body>
</html>