<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Ricerca</title>
<!-- Jquery -->
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/search.js}"></script>
<!--CSS Personale-->
<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
</head>
<body>
	<div align="center">
		<h1 th:text="${libro.titolo}"></h1>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID Libro</th>
					<th>Titolo</th>
					<th>Anno</th>
					<th>Autore</th>
					<th>Sequel</th>
				</tr>
			</thead>
			<tbody id="myTable">
				<tr th:each="ricerca : ${libro.ricerca}">
					<td th:text="${libro.id}">ID Libro</td>
					<td th:text="${libro.titolo}">Titolo</td>
					<td th:text="${libro.anno}">Anno</td>
					<td th:text="${libro.autore}">Autore</td>
					<td th:text="${libro.sequel}">Sequel</td>
				</tr>
			</tbody>
		</table>
		<br />
		<form th:action="@{'/index/'}" method="post">
			<input type="submit" value="Torna Indietro" />
		</form>
	</div>
</body>
</html>